.sign-sign-button {
    position: absolute;
    top: 12vh;
    padding: 20px;
    font-size: 30px;
    background-color: #8B896D;
    color: #F5F6F7;
    transition: all 300ms;
    cursor: pointer;
    z-index: 10;
}

.sign-sign-in-button {
    left: 100%;
    border-bottom-right-radius: 30px;
}

.sign-sign-up-button {
    right: 100%;
    border-bottom-left-radius: 30px;
}

.sign-sign-in-button.active {
    left: 0;
}

.sign-sign-up-button.active {
    right: 0;
}

.sign-sign {
    position: absolute;
    width: 100%;
    transition: all 300ms;
}

.sign-sign-in {
    left: 100%;
}

.sign-sign-up {
    right: 100%;
}

.sign-sign-in.active {
    left: 0;
}

.sign-sign-up.active {
    right: 0;
}

.sign-fill {
    height: 800px;
    z-index: -10;
}