.point-list-container {
    text-align: center;
    background-image: url("https://study.com/cimages/videopreview/videopreview-full/ekwlzrmjif.jpg");
    color: #453F3C;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.point-list-cover {
    background-color: #F5F6F7DD;
    padding: 100px 10px;
}

.point-list-title {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}