.point-card-container {
    display: inline-block;
    margin: 20px;
    width: 230px;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px #000000EE;
    box-shadow: 6px 4px 12px 2px #00000099;
    font-family: 'Open Sans', sans-serif;
}

.point-card-image {
    overflow: hidden;
    border-radius: 100000000px;
    border: solid 5px #000000BB;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    width: 180px;
    height: 180px;
}

.point-card-image img {
    width: 100%;
    height: 100%;
}

.point-card-title {
    font-size: 20px;
    box-shadow: 0 15px 9px -10px #00000088;
    border-radius: 500px;
    margin-bottom: 20px;
}